<!-- Footer partial -->
<footer class="footer">
    <div class="footer-content">
        <img src="/assets/doj.png" class="footer-logo" alt="DOJ Seal">
        <p>&copy; kwts | All rights reserved 2026 | City of Los Santos | State of San Andreas</p>
        <img src="/assets/lossantos.webp" class="footer-logo" alt="Los Santos Seal">
    </div>
</footer>
