<!-- Footer partial -->
<footer class="footer">
    <div class="footer-content">
        <img src="/assets/doj.png" class="footer-logo" alt="DA Seal">
        <p>&copy; kwts | All rights reserved 2026 | City of Los Santos | State of San Andreas | <a href="/privacy" style="color: inherit; text-decoration: underline;">Privacy Policy</a></p>
        <img src="/assets/lossantos.webp" class="footer-logo" alt="Los Santos Seal">
    </div>
</footer>

<%- include('cookie-banner') %>
</body>
</html>
